.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: aquamarine;
    overflow: hidden;
}

.nav > li {
    float: left;
}

.nav > li > a{
    display: block;
    color: blueviolet;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav > li > a:hover:not(.active){
    background-color: aliceblue;
}

.nav >li > .active{
    background-color: cornflowerblue ;
}